html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: cursive;
    padding-top: 50px;
    background-color:#f06292;
}

.navbar {
    font-family: cursive;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e91e63;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    text-align: right;
}

.navbar ul li {
    display: inline;

    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
}

.navbar ul li a:hover {
    background-color: white;
    color: #91a7ff;
}

section {
    padding: 60px 20px;
    margin-top: -12px;
}

#home {
    background-color: #ec407a;
    text-align: center;
    color: white;
}

.flex-container, .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    
}

.flex-item, .grid-item {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.flex-item img, .grid-item img {
    width: 100%;
    height: 150px;
    display: block;
    transition: all 0.5s ease;
}
.flex-item img:hover{
    width: 105%;
    height: 170px;
}
.grid-item img:hover{
    opacity: 1;
}
.grid-item img:not(:hover){
    opacity: 0.7;
}

.flex-item p, .grid-item p {
    padding: 10px;
    background-color: #f4f4f4;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

footer {
    background-color: #f8bbd0;
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 500px) {
    .flex-container {
        flex-direction: column;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}
a {
    text-decoration: none;
    color: inherit;
}